## **Case Study 6 : Membuat Fitur Bonus di Coffee Shop**
----------------------------------------------------------------------
Di coffee shop yang baru milik Andi menerapkan beberapa fitur bonus kepada customer dengan syarat ketentuan tertentu. Berikut komponen variabel yang dibutuhkan

|Nama komponen           |Nama Variabel    |Tipe Data|
|------------------------|-----------------|---------|
|Code Kupon              |coupon_code      |string   |
|Minimal transaksi diskon|min_purchase     |float    |
|Minimal Pembelian Produk|min_product     |integer  |

Terdapat beberapa testing menggunakan variabel untuk suatu kondisi sebagai berikut:

Soal:
- Bandingkan Code Kupon "RT9313JT" apakah sama dengan coupon di database yang dengan nilai RT9313JT
- Code Kupon "JR7431LR" tidak sama dengan coupun di database dengan nilai JR7430LR
- Minimal transaksi diskon bernilai 70000.50 lebih besar sama dengan 50.000
- Minimal pembelian produk sebanyak 7 lebih besar dari 3
- Minimal transaksi diskon bernilai 30000.99 lebih besar sama dengan 50.000
- Minimal pembelian produk sebanyak 2 lebih besar dari 3

In [11]:
#1
coupon_code = "RT9313JT"
nomor1 = coupon_code == "RT9313JT"
print(f"1. {nomor1}")

#2
coupon_code = "JR7431LR"
nomor2 = coupon_code != "JR7430LR"
print(f"2. {nomor2}")

#3
min_purcase = 70000.50
nomor3 = min_purcase >= 50000
print(f"3. {nomor3}")

#4
min_product = 7
nomor4 = min_product > 3
print(f"4. {nomor4}")

#5
min_purcase = 30000.99 
nomor5 = min_purcase >= 50000
print(f"5. {nomor5}")

#6
min_product = 2
nomor6 = min_product > 3
print(f"6. {nomor6}")

1. True
2. True
3. True
4. True
5. False
6. False